.modal .panel{
	margin-bottom: 0px;
}

.organigrama{
	overflow: auto;
	background: #226b7d;
	padding: 50px;
	max-height: 1200px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}
.organigrama  table{
	width: 100%;
}
.organigrama table td{
	text-align: center;
	vertical-align: top;
	padding: 0;
}
.organigrama .nodo{
	position: relative;
	width: 120px;
	border-bottom: 5px solid #34495e;
	-webkit-border-radius: 10px;
	border-radius: 10px; 
	background: #1d82e7;
	color: #ecf0f1;
	display: inline-block;
	padding: 20px 10px;
	margin: 10px; 
	font-weight: bolder;
	cursor: pointer;

	transition: all 0.3s ease, border-bottom 0s;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.organigrama .nodo:hover{
	transform: translateY(-3px);
	box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.organigrama table td .line-down{
	width: 0px;
	display: inline-block;
}
.organigrama .line{
	border-width: 5px solid;
}
.organigrama .line.up{
	border-top: 2px solid #34495e !important;
}
.organigrama .line.right{
	border-right: 2px solid #34495e !important;
}
.organigrama .line.left{
	border-left: 2px solid #34495e !important;
}
.organigrama .nodo.collapsed{
	border-bottom-color: #d35400;
}

.organigrama .nodo .controls{
	position: absolute;
	top: 0;
	right: -40px;
	background: transparent;
	z-index: 2;
	padding: 1px 1px 1px 1px;

	display: block;
	opacity: 0;
	transition: opacity 0.3s ease;
	pointer-events: none; /* No se puede clickear si es invisible */
}
.organigrama .nodo:hover .controls{
	opacity: 1;
	pointer-events: auto;
}

.organigrama .nodo .btn-collapse{
	position: absolute;
	display: inline-block;
	color: #e74c3c;
	top: 100%;
	left: 50%;
	margin-top: 8px;
	margin-left: -12px;
	-webkit-border-radius: 12px;
	border-radius: 10px; 
	background: #ecf0f1;
	padding: 5px 5px;
	transition: transform 0.3s ease;
}

.organigrama .nodo .btn-collapse.glyphicon-plus{
	transform: rotate(180deg);
}

.organigrama .nodo .badge{
	position: absolute;
	top: 0;
	left: 0;
	color: #0eb9ae;
	background: #eded12;
}
.organigrama .nodo .nodo-nombre{
	font-style: italic;
	color: #bdc3c7;
}

.organigrama .nodo-child {
  transition: all 0.4s ease-in-out;
  max-height: 150px; 
  opacity: 1;
  overflow: hidden; 
  display: table-row; 
}
.organigrama .nodo-child.hidden {
  max-height: 0;
  opacity: 0;
}